<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Email list</title>
</head>
<body>
  <section id="email-generator">
    <h4 class="mb-20">Suggestions</h4>
    <button class="btn mr-20 mb-20" @click="generateEmails()" type="button" name="button">Generate</button>
    <span>Show:</span>
    <select name="email-quantity" v-model="emailQuantity">
      <option v-for="n in 10" :value="n">{{ n }}</option>
    </select>
    <ul>
      <li v-for="item in emailArr" class="mb-10">{{item}}</li>
    </ul>
  </section>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
